<div class="container">
  <rps-scoreboard col-xs-12 text-center [player1Score]="game.player1Score" [player2Score]="game.player2Score" [roundResultMessage]="game.roundResultMessage"></rps-scoreboard>
  <div>
    <div class="row">
      <div class="col-xs-6 text-center">
        <rps-player [player]="game.player1" [gesture]="game.chosenGesture1"></rps-player>
      </div>

      <div class="col-xs-6 text-center">
        <rps-player [player]="game.player2" [gesture]="game.chosenGesture2"></rps-player>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="gesturePicker" *ngIf="isHumanVSAI()" class="col-xs-12 text-center">
      <i id="gesture" *ngFor="let gesture of game.gestures" class="{{gesture.image}} gesture" aria-hidden="true" (click)="onGestureClicked(gesture)"></i>
    </div>
    <div *ngIf="!isHumanVSAI()" class="col-xs-12 text-center">
      <button id="AIfightBtn" type="button" class="btn btn-success" (click)="onMakeAIsFightClicked()">Make AI's fight!</button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
      <button id="resetBtn" type="submit" class="btn btn-danger" (click)="resetGame()">Reset game</button>
    </div>
  </div>
</div>